<h1>Welcome to AStrangeTime</h1>
<p>"Perhaps there exists, in this painting by Velàzquez, the representation as it were, of Classical representation, and the definition of the space it opens up to us."<br /><i>(Foucault, Michel. Las Meninas, The Order of Things 1994, p17.)</i></p>

<p> To start our tour click <a href="/Door">here</a> or on the "Door" button above in the tabs.</p>

<img src="http://i.imgur.com/9WX7z6T.jpg" width= "500" height= "600" />
<p><a href="http://en.wikipedia.org/wiki/Las_Meninas">Las Meninas</a> by Diego Velázquez.</p>



