<% title ="A Strange Time" %>
<!doctype html>
<html lang="en">
<head>
  <title><%= title %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<header>
		<h1><a href="/" title="Home"><%= title %></a></h1>
		<nav>
			<ul>

				<li><a href="/Door" title="Door">Door</a></li>
				<li><a href="/Mirror" title="Mirror">Mirror</a></li>
				<li><a href="/Window" title="Window">Window</a></li>
			</ul>
		</nav>
	</header>
	<section>
</body>
		<%= yield %>
