<p>"The mirror is, after all, a utopia, since it is a placeless place.<br>
In the mirror, I see myself there where I am not, in an unreal, virtual space that opens up behind the surface;<br>
I am over there, there where I am not, a sort of shadow that gives my own visibility to myself, that enables me to see myself there where I am absent:<br>
such is the utopia of the mirror."<i>(Foucault, Michel. Of Other Spaces 1967, p33.)</i></p>

<img src="http://i.imgur.com/xmwiZ3B.jpg" width="400" height="500">
<p> <a href="http://en.wikipedia.org/wiki/Venus_with_a_Mirror">Venus With A Mirror</a> by Tiziano Vecelli (1555).</p>
