<p>"Like the window, the screen and its frame "hold a view in place";<br>
it becomes, like the window, a transformative aperture in architectural space,<br>
altering the materiality of our built environment and <br>
opening surfaces up to a new kind of conceptual and metaphoric "ventilation"."<br>
<i>(Friedberg, Anna: The Virtual Window: From Alberti to Microsoft 2006, p1.)</i></p>

<p> Search for the right window, to view our perspective on this project.</p>

<a href="/Window2" title="EnterTheWindow"><div style="position: absolute; left: 900px; top: 600px;">
<img src="http://i.imgur.com/V4AXsJ4.jpg" width="34" height="34"></a>
<body id="Window">
</div>
