<p>"In its nature, the door belongs to the symbolic order, and it sopens up either on to the real, or the imaginary, we don't know quite which, but it is either one or the other.<br>There is an asymmetry between the opening and the closing-if the opening of the door controls acces, when closed, it closes the circuit.<br>The door is a realy symbol, the symbol par excellence, that symbol in which man's passing, through the cross it sketches, intersecting acces and closure, can always be recognised."<br><i>(Lacan, Jean Francois: The Ego in Freud's Theory and in the Technique of Psychoanalysis 1988, p302)</i></p>

<p> Search for the right door, to see if you can gain ACCESS!</p>

<a href="/Door2" title="EnterTheDoor"><div style="position: absolute; left: 600px; top: 900px;">
<img src="http://i.imgur.com/FDYulRV.jpg" width="34" height="34"></a>
</div>

<body id="Door">
